version: '3.9'

services:
  backend:
    build: ./backend
    container_name: django-backend
    # command: python manage.py runserver 0.0.0.0:8000
    tty: true
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - MYSQL_HOST=db
      - MYSQL_PORT=3306
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=mydb
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: react-frontend
    # command: npm start
    tty: true
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000

  db:
    image: mysql:8.0
    container_name: mysql-db
    tty: true
    command: --default-authentication-plugin=mysql_native_password
    user: "1000:1000"
    # restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./db:/var/lib/mysql
